body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

section {
  padding: 40px 0;
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.splide__slide img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}
