body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  width: 96px;
}

.navbar-brand span {
  font-size: 32px; 
}

.language-flag {
  margin-left: 10px;
}

.language-flag img {
  width: 32px; 
}

.social-icon img {
  width: 32px;
}

#image-carousel .splide__slide img {
  width: 50%;
  height: auto;
}

.custom-horizontal-padding {
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-nav li:hover a {
  background-color: burlywood !important;
  color: #212529 !important;
}

.navbar-nav li a.active {
  background-color: burlywood !important;
  color: #212529 !important;
}

.language-flag img {
  transition: transform 0.3s ease-in-out;
}

.language-flag.clicked img {
  width: 48px;
  height: auto;
}


