RewriteEngine On
RewriteBase /iksiad/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home$ index.php [L]

RewriteRule ^article/([0-9]+)$ pages/article.php?id=$1 [L]
